<div class="all-teams">
    <a href="/create-player">Create a Player</a>
    <h1>All Players</h1>
    <table *ngIf="playersData.length > 0">
        <thead>
            <tr>
                <th>No.</th>
                <th>Player Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let player of playersData">
            <tr>
                <td>{{player.id}}</td>
                <td><a href="/player-summary/{{player.id}}">{{player.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="playersData.length === 0">No data available</p>
</div>