@import "../vars.scss";

app-component {
  font-family: "Roboto";

  #app-header {
    width: 100%;
    height: 4rem;
    background-color: $color-1;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 3rem;
    }

    .links {
      display: flex;
    }

    a {
      color: white;
      text-decoration: none;
      transition: 0.1s ease;
      padding: 0 1.25rem;
    }

    a:hover {
      color: $color-2;
      text-decoration: underline;
    }
  }

  footer {
    width: 100%;
    height: 5vh;
    background-color: $color-1;
    text-align: center;
    color: white;
    padding: 0.4rem 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    gap: 1rem;

    a{
      color: white;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  #mobile-nav,
  label {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  app-component {
    #app-header {
      position: relative;
      .links {
        min-height: 50vh;
        width: 100%;
        top: 4rem;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        background-color: $color-1;
        display: none;
        animation: fade-in 0.5s ease-in-out 0s 1;
      }
    }
    label {
      display: block;
      cursor: pointer;
      font-size: 1.5rem;
    }
    #close-btn {
      display: none;
    }
    #mobile-nav:checked ~ .links {
      display: flex;
    }
    #mobile-nav:checked ~ #close-btn {
      display: block;
    }
    #mobile-nav:checked ~ label {
      display: none;
    }
    svg:hover{
      fill: $color-2;
    }
  }
  footer {
    span{
      text-wrap: wrap;
    }
    width: 100%;
    flex-direction: column;
  }
}
