<div id="app-header">
  <a href="/"><img src="../assets/basketbal-api-logo.png" alt="Basketball API logo"></a>
  <div class="links">
    <a href="/">Home</a>
    <a href="/teams">Teams</a>
    <a href="/players">Players</a>
    <a href="https://www.nba.com/games" target="_blank">NBA Games</a>
    <a href="/player-summary-api">API</a>
  </div>
</div>

<router-outlet></router-outlet>
<footer>
  <img src="../assets/basketbal-api-logo.png" alt="Basketball API logo" alt="Basketball API logo">
  Basketball API - All Rights Reserved
</footer>