<div class="home-width">
    <h1>Basketball API</h1>
    <img src="assets/basketball-api-logo.png" alt=""/>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis et, repellendus, sapiente blanditiis beatae
        labore quia nesciunt numquam eius a esse sit vero id dolor? Tenetur facilis officia, veritatis reprehenderit
        consequuntur, provident accusamus voluptates excepturi esse magni iste praesentium eaque ullam neque
        necessitatibus voluptatem nostrum possimus aperiam? Optio, consectetur eveniet.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit eos praesentium reprehenderit in magnam doloribus minima nam doloremque eaque mollitia ea cum assumenda nisi sequi libero debitis, quisquam dolorum officia?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis distinctio aliquam asperiores aperiam ex aut quod dolorem voluptate voluptatibus impedit?</p>
</div>