.home-width{
    max-width: 50%;
    margin: auto;
    padding: 2rem; 

    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}