appnopesgiref
backcall
certifi
colorama
decorator
distlib
dj-database-url
Django
django-cors-headers
django-spa
djangorestframework
filelock
gunicorn
importlib-metadata
ipython
ipython-genutils
jedi
matplotlib-inline
numpy
packaging
pandas
parso
pexpect
pickleshare
pipenv
platformdirs
prompt-toolkit
psycopg2-binary
ptyprocess
Pygments
python-dateutil
python-decouple
pytz
six
sqlparse
toml
traitlets
typing_extensions
virtualenv
wcwidth
whitenoise
zipp
