@import "./vars.scss";

player-summary-component {
  font-family: "Roboto";

  .container {
    display: flex;
    justify-content: space-evenly;
    padding: 3.125rem 1.25rem;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .choice {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 2rem 0;
    color: #555;
  }

  .player-info {
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid black;
    background-color: $color-1;
    justify-content: center;
    color: white;
    border-radius: 0.625rem;
    width: 30%;
  }

  .player-bio {
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1.25rem 0;
  }

  .player-bio img {
    width: 12rem;
    height: 12rem;
    border: 0.3125rem solid black;
    object-fit: cover;
    background-color: white;
    border-radius: 10%;
    transition: 0.3s ease;
  }

  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.125rem solid white;
    padding-top: 5%;

    h3 {
      font-family: "Roboto";
      font-size: 1rem;
      color: white;
      transition: 0.3s ease;
    }
  }

  .date-container {
    display: flex;
  }

  .button-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;

    button {
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem;
      border: none;
      outline: none;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  .shots-data {
    width: 50%;

    h1 {
      text-align: center;
    }

    svg {
      width: 100%;
    }

    .info-btn {
      cursor: pointer;
    }
  }

  .key {
    border: 0.2rem solid $color-2;
    border-radius: 1rem;
    padding: 1rem;
    translate: 0 -50%;

    h4 {
      text-decoration: underline;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      vertical-align: middle;
      font-size: 1rem;
    }
  }

  .shots-table {
    margin: 2.5rem auto;
    width: 100%;
    overflow-x: auto;
  }

  @media screen and (max-width: 861px) {
    .shots-data,
    .player-info {
      width: 100%;
    }

    .shots-data {
      order: 1;
    }

    .player-info {
      order: 2;
    }
    .shots-table {
      order: 3;
    }

    .key {
      translate: 0 -50%;
    }
  }
}
