<h1 class="choice">{{playerData.name}}</h1>
<div class="container">
  <div class="player-info">
    <div class="player-bio">
      <img [src]="playerData.poster" alt="A poster of {{ playerData.name }}" />
    </div>
    <div class="details">
      <span class="item">
        <h3>Player:</h3>
        <h3>{{ playerData.name }}</h3>
      </span>
      <span class="item">
        <h3>Date:</h3>
        <div *ngFor="let info of playersInfo" class="button-list">
          <button (click)="adjustDate(info.date)" [style.background-color]="
            playerData.date === info.date ? 'gold' : ''
          " [style.color]="
          playerData.date === info.date ? 'indigo' : ''
        ">{{ info.date }}</button>
        </div>
      </span>
      <span class="item">
        <h3>Minutes:</h3>
        <h3>{{ playerData.minutes }}</h3>
      </span>
      <span class="item">
        <h3>Points:</h3>
        <h3>{{ playerData.points }}</h3>
      </span>
      <span class="item">
        <h3>Assists:</h3>
        <h3>{{ playerData.assists }}</h3>
      </span>
      <span class="item">
        <h3>Rebounds:</h3>
        <h3>{{ playerData.rebounds }}</h3>
      </span>
      <span class="item">
        <h3>Steals:</h3>
        <h3>{{ playerData.steals }}</h3>
      </span>
      <span class="item">
        <h3>Blocks:</h3>
        <h3>{{ playerData.blocks }}</h3>
      </span>
      <span class="item">
        <h3>Turnovers:</h3>
        <h3>{{ playerData.turnovers }}</h3>
      </span>
      <span class="item">
        <h3>Fouls:</h3>
        <h3>{{ playerData.fouls }}</h3>
      </span>
      <span class="item">
        <h3>Free Throws:</h3>
        <h3>
          {{ playerData.freeThrowsMade }}/{{ playerData.freeThrowsAttempted }}
        </h3>
      </span>
      <span class="item">
        <h3>2pt Field Goals:</h3>
        <h3>
          {{ playerData.twoPointersMade }}/{{ playerData.twoPointersAttempted }}
        </h3>
      </span>
      <span class="item">
        <h3>3pt Field Goals:</h3>
        <h3>
          {{ playerData.threePointersMade }}/{{
          playerData.threePointersAttempted
          }}
        </h3>
      </span>
    </div>
  </div>
  <div class="shots-data">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1454px"
      viewBox="-0.5 -0.5 1454 2000" style="background-color: rgb(255, 255, 255)">
      <!-- Local styles in <defs> -->
      <defs>
        <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="mx-gradient-8bbeff-1-135ec8-1-s-0">
          <stop offset="0%" style="stop-color: rgb(139, 190, 255); stop-opacity: 1" />
          <stop offset="100%" style="stop-color: rgb(19, 94, 200); stop-opacity: 1" />
        </linearGradient>
      </defs>
      <g>
        <rect class="boundary" x="2" y="173" width="1444" height="1359" fill="#fff4c3" stroke="#130f0d" stroke-width="5"
          pointer-events="all" />
        <path d="M 95 726 L 3 726" fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10"
          pointer-events="stroke" />
        <path d="M 1448 726 L 1356 726" fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10"
          pointer-events="stroke" />
        <!-- Paint -->
        <rect x="503" y="980" width="455" height="552" fill="none" stroke="#130f0d" stroke-width="5"
          pointer-events="all" />
        <!-- Free throw line: -->
        <path d="M 645 895.5 Q 813 895.5 813 1064 Q 813 1232.5 645 1232.5 Z" fill="none" stroke="#130f0d"
          stroke-width="5" stroke-miterlimit="10" stroke-dasharray="40 40" transform="rotate(90,729,1064)"
          pointer-events="all" />
        <path
          d="M 732 1536.99 C 677.88 1537.41 627.63 1515.3 600.41 1479.08 C 573.19 1442.86 573.2 1398.12 600.43 1361.9 C 627.65 1325.69 677.91 1303.58 732.04 1304.01"
          fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10" transform="rotate(90,730.5,1420.5)"
          pointer-events="all" />
        <path d="M 815 1420 L 642 1420" fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10"
          pointer-events="stroke" />
        <path d="M 727.28 1156.49 C 632.63 1155.56 556.53 1079.89 557 987.16 C 557.48 894.43 634.34 819.5 729 819.5"
          fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10" transform="rotate(90,729,988)"
          pointer-events="all" />
        <!-- Center circle: -->
        <path d="M 727.78 343.99 C 633.13 343.06 557.03 266.71 557.5 173.15 C 557.98 79.59 634.84 4 729.5 4" fill="none"
          stroke="#130f0d" stroke-width="5" stroke-miterlimit="10" transform="rotate(270,729.5,174)"
          pointer-events="all" />
        <path d="M 729.37 238.5 C 694.42 238.17 666.33 211.22 666.5 178.2 C 666.68 145.18 695.05 118.5 730 118.5"
          fill="none" stroke="#130f0d" stroke-width="5" stroke-miterlimit="10" transform="rotate(270,730,178.5)"
          pointer-events="all" />
        <!-- Vertical dotted line -->
        <path d="M 734.5 1538 L 727 180" fill="none" stroke="#ff0000" stroke-width="5" stroke-miterlimit="10"
          stroke-dasharray="15 15" pointer-events="stroke" />
        <!-- Three point line -->
        <path
          d="M 101 1532 Q 101 1116 151.5 1032.5 Q 202 949 243 909.5 Q 284 870 331.5 834 Q 379 798 419.5 778.5 Q 460 759 501.5 744 Q 543 729 588.5 719.5 Q 634 710 682.5 705 Q 731 700 783 706.5 Q 835 713 889 723.5 Q 943 734 991.5 755 Q 1040 776 1084.5 806 Q 1129 836 1167 867 Q 1205 898 1238 935 Q 1271 972 1297 1014.5 Q 1323 1057 1343 1095 Q 1363 1133 1356 1531"
          fill="none" stroke="#130f0d" stroke-width="6" stroke-miterlimit="10" pointer-events="stroke" />
        <!-- Horizontal dotted line: -->
        <path d="M 4.89 1385.15 L 1447 1385.51" fill="none" stroke="#ff0000" stroke-width="5" stroke-miterlimit="10"
          stroke-dasharray="15 15" pointer-events="stroke" />
        <!-- Black circle: basket -->
        <ellipse cx="733.5" cy="1386" rx="21.5" ry="21" fill="#000000" stroke="#000000" stroke-width="5"
          pointer-events="all" />
        <!-- SVG Heading -->
        <rect x="461" y="23" width="549" height="128" fill="orangered" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
          <switch>
            <text x="736" y="112" fill="rgb(0, 0, 0)" font-family="Roboto" font-size="85px" text-anchor="middle"
              font-weight="bold" font-style="italic">
              Shot Chart
            </text>
          </switch>
        </g>
        <g>
          <!-- Green dots: -->
          <!-- *ngFor="let info of playersInfo" -->
          <!-- Center points: -->
          <!-- cx="735" -->
          <!-- cy="1390" -->
          <ellipse cx="1169" cy="900" rx="30" ry="30" fill="#00ff00" stroke="#000000" stroke-width="6"
            pointer-events="all" />
          <ellipse cx="900" cy="1043" rx="30" ry="30" fill="#00ff00" stroke="#000000" stroke-width="6"
            pointer-events="all" />
          <ellipse cx="855" cy="700" rx="30" ry="30" fill="#00ff00" stroke="#000000" stroke-width="6"
            pointer-events="all" />
          <ellipse cx="455" cy="1000" rx="30" ry="30" fill="#00ff00" stroke="#000000" stroke-width="6"
            pointer-events="all" />
        </g>
        <g>
          <!-- Red crosses: -->
          <path
            d="M 999 1003 L 1028.17 1003 L 1049 1026.97 L 1069.83 1003 L 1099 1003 L 1063.58 1043.5 L 1099 1084 L 1069.83 1084 L 1049 1060.03 L 1028.17 1084 L 999 1084 L 1032.33 1043.5 Z"
            fill="#ff0000" stroke="#000000" stroke-width="6" stroke-miterlimit="10" pointer-events="all" />
          <path transform="translate(-990, 300)"
            d="M 999 1003 L 1028.17 1003 L 1049 1026.97 L 1069.83 1003 L 1099 1003 L 1063.58 1043.5 L 1099 1084 L 1069.83 1084 L 1049 1060.03 L 1028.17 1084 L 999 1084 L 1032.33 1043.5 Z"
            fill="#ff0000" stroke="#000000" stroke-width="6" stroke-miterlimit="10" pointer-events="all" />
        </g>
      </g>
      <switch>
        <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" />
        <a transform="translate(0,-5)" xlink:href="https://www.diagrams.net/doc/faq/svg-export-text-problems"
          target="_blank">
          <text text-anchor="middle" font-size="10px" x="50%" y="100%">
            Text is not SVG - cannot display
          </text>
        </a>
      </switch>
    </svg>
    <div class="key">
      <h4>Key:</h4>
      <p>Made shots: 🟢</p>
      <p>Missed shots: ❌</p>
    </div>
  </div>
  <div class="shots-table">
    <table>
      <caption>
        <h1 class="choice">Shot data for {{ playerData.name }}</h1>
      </caption>
      <tr>
        <th>Game</th>
        <th>Made Shot?</th>
        <th>X Location</th>
        <th>Y Location</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let info of playerShotsInfo">
        <td>
          {{ playerData.game_id }}
        </td>
        <td>
          {{ info.isMake }}
        </td>
        <td>
          {{ info.locationX }}
        </td>
        <td>
          {{ info.locationY }}
        </td>
        <td>
          {{ playerData.date }}
        </td>
      </tr>
    </table>
  </div>
</div>