<div class="loading" *ngIf="loading">
    <span *ngFor="let _ of [].constructor(5)"></span>
</div>
<div *ngIf="!loading" class="all-teams">
    <a href="/create-team">Create Team</a>
    <h1>All Teams</h1>
    <table *ngIf="teamsData.length > 0">
        <thead>
            <tr>
                <th>ID.</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let team of teamsData">
            <tr>
                <td>{{team.id}}</td>
                <td>{{team.name}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="teamsData.length === 0">No data available</p>
</div>