@import "./vars.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
  width: 100%;
  margin: 2rem auto;
  border-collapse: collapse;

  caption {
    font-size: 2rem;
    color: black;
  }
  th,
  td {
    width: 20%;
    text-align: center;
    border: 0.2rem solid $color-1;
    padding: 0.5% 0;
  }
  th {
    background-color: $color-1;
    font-size: 1.2rem;
    color: white;
  }
  td {
    color: $color-1;
    font-size: 1.2rem;
  }
  tr:nth-child(even) {
    background-color: lightgray;
  }
  tr:hover {
    background-color: $color-2;
    cursor: pointer;
  }
}
.all-teams {
  padding: 2rem;

  h1 {
    text-align: center;
  }
  p {
    font-size: 1.2rem;
  }
}

.api-form {
  margin: 2rem auto;
  width: 50%;
  background-color: #ddd;
  border-radius: 0.5rem;
  padding: 1rem;

  h1{
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    label {
      font-weight: bold;
      font-size: 1.2rem;
    }
    input {
      font-size: 1.1rem;
      padding: 0.5rem;
    }
    button[type="submit"] {
      padding: 0.5rem;
      border-radius: 0.3rem;
      outline: none;
      border: none;
      background-color: $color-2;
      cursor: pointer;
      font-size: 1.1rem;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 947px) {
  .api-form {
    width: 90%;
  }
}
